@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");

/*
?@font-face {
  font-family: myFirstFont;
  src: url(/font/Cool\ World\ Ming\ Semi-Cursive\ Script\ Chinese\ Font-Traditional\ Chinese.ttf);
}
*/

* {
  font-family: "Hachi Maru Pop", sans-serif;
  //?font-family: "myFirstFont", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(231, 56, 56);
}

@import "header";

@import "section";
